#main_cover {
    position: relative;
    font-family: 'Courgette',cursive;
    text-align: center;
    margin: -4px;
}

#cover_image {
    max-width: 100%;
    margin: 0px;
}

#image-text {
    position: absolute;
    top: 3.5em;
    background-color: #FF8C94;
    color: white;
    width: 100%;
    font-size: 1.20em;
}

#image-text p {
    font-family: 'Raleway',sens-serif;
    font-size: 0.9em;
}

#history {
    background-color: #FF8C94;
    height: 315px;
    font-family: 'Courgette',cursive;
    text-align: center;
    color: white;
    font-size: 1.20em;
}

#history h2{
    margin: 0px;
    padding-top: 1em;
}

#history p{
    font-family: 'Raleway',sens-serif;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #A8E6CE;
  }
  
.flex-container > div {
width: 100%;
margin: 10px;
text-align: center;
height: 300px;
font-size: 30px;
}

.about_images {
    width: 100%;
}

.details {
    text-align: center;
    display: block;
    color: #FF8C94;
    font-size: 0.7em;
    font-weight: bold;
}

#team {
    background-color: #A8E6CE;
    font-family: 'Courgette',cursive;
    text-align: center;
    color: #FF8C94;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
    padding-top: 1em;
}
