*{
    padding:0;
    margin:0;
}
.best_seller {
    max-width:1200px;
    margin:0 auto;
    background: #FFD3B5;
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.carousel{
    max-width: 1200px;
    height:50vh;
    margin: 0 auto;
    overflow: hidden;
    position:relative;
 }
 
 .carousel-slide{
     width:100%;
     
     display:flex; 
 }
 
 .item{
     width:100%;
     height:100%;
 }
 .carousel-controls{
     display:flex;
     justify-content: center;
     align-items: center;
 }
 
 .carousel-controls:hover{
     background-color: black;
     background-color: rgba(0,0,0,0.2);
 }
 
 #prev{
     width:10%;
     height:100%;
     position:absolute;
     z-index:10;
     left:0.5px;
     color:black;
     opacity:0.4;
     font-weight:bold;
 }
 #next{
     width:10%;
     height:100%;
     position:absolute;
     z-index:10;
     right:0.5px;
     color:black;
     opacity: 0.4;
     font-weight:bold;
 }
.flex-container-best-seller {
    display:flex;
    flex-flow:row wrap;
    max-width: 100%;
    font-family:'Courgette',cursive;
    background: #FFD3B5;
    height: 374px;
}
.best_seller h2 {
    font-family: 'Courgette',sens-serif;
    text-align: center;
}
.best_seller p {
    font-family: 'Raleway',sens-serif;
    text-align: center;
}
[id^="section-"] {
    flex: 1 0 0;
    max-height: 25.7%;
    clear: both;
}
.best_sellers_images {
    width: 300px;
    margin-left: 2.8em;
}
.details {
    text-align: center;
}

