html{
    box-sizing:border-box;
    
}
*,*::before,*::after{
    box-sizing:inherit;
}
main{
    position:relative;
    font-family: 'Raleway', sans-serif;
}
h2{
    font-family: 'Courgette', cursive;
    margin:0;
    text-align:center;
    background-color: #ffffff;
    padding:0.5em 0 0.5em 0;
}

#box{
    position:absolute;
    max-width:800px;
    margin-left: 13em;
    display:none;
    margin-top: 5em;
    height: 9em;
    padding:2em;
    background-color: #c9e1e0;
    border: solid white 1em;
    font-size:18px;
    
}
#container{
    max-width:100%;
    
    /* margin:3em auto; */
    font-size:20px;
    font-weight:bold;
    /* box-shadow:12px 10px 15px 7px #E488FF; */
    
    
}

main img {
    border-radius:50%;
    height:100px;
    width:100px;
    margin-top:10px;
  }
  #section1, #section3,#section5{
      background-color:#D0ECC5;
      color:rgb(250, 82, 93);
      height:8em;
      

  }
  #section2,#section4{
      background-color:#FFAAA5;
      color:rgb(68, 114, 49);
      height:8em;
  }
  

  #section2 img,#section4 img{
      margin-left:45px;
  }
  #section1 ul,#section5 ul{
      display:inline-block;
      margin-left:2.7em;
    
      
  }
  #gluten-free{
      margin-left:6em;
      color:darkmagenta;
  }
  #section1 img{
      margin-left:10em;
  }
  #section2 ul{
    display:inline-block;
    margin-left:11.11em;
  }
  #section3 ul{
      display:inline-block;
      margin-left:2.7em;
  }
  #section3 img{
      margin-left:25em;
  }
  #section4 ul{
      display:inline-block;
      margin-left:11.11em;

  }
  #section5 img{
      margin-left:21em;
  }
  li{
      margin-bottom: 2%;
  }
 
  
  
  