html{
    box-sizing:border-box;
    
}
*,*::before,*::after{
    box-sizing:inherit;
    margin:0;
}
main{
    background-color:#D0ECC5;
}
#s-h2{
    padding:1em;
    margin:0;
    color:black;
    text-decoration:underline #FF8C94;
    
}
.info{
    background-color:white;
    padding:1em;
    
}
#mon-h2,#wed-h2,#fri-h2,#sun-h2{
    background-color: #BA9A84;
    padding:1em;
    text-align: center;
    margin:0;
}
#tues-h2,#thurs-h2,#sat-h2{
    background-color:#FFD3B5;
    padding:1em;
    text-align:center;
    margin:0;
    
}
p{
    text-align:center;
}